<div class="container-fluid h-100">
    <div class="row justify-content-center align-items-center h-100">
        <div class="col col-sm-5 col-md-5 col-lg-5 col-xl-5">
            <form name="form" (ngSubmit)="tryRegister(signupForm.value)" #signupForm="ngForm" novalidate>
                <div class="form-header">
                      <img src="assets/logo.png" alt="Logo"> 
                      <h5>Manage your and others debts</h5>
                  </div>
                  <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" name="name" required [(ngModel)]="name" #nameLocal="ngModel" placeholder="Petra Cendelínová" />
                    <div [hidden]="nameLocal.valid || nameLocal.pristine" class="alert alert-danger">Name is required</div>                

                </div>
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" class="form-control" name="username" required [(ngModel)]="username" #usernameLocal="ngModel" placeholder="cendulka" />
                    <div [hidden]="usernameLocal.valid || usernameLocal.pristine" class="alert alert-danger">Username is required</div>     
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" name="email" required [(ngModel)]="email" #emailLocal="ngModel" placeholder="cendulka@gmail.com" advs-email />
                    <div *ngIf="emailLocal.invalid && (emailLocal.dirty || emailLocal.touched)" class="alert alert-danger">
                      <div *ngIf="emailLocal.errors.required">
                        Email is required.
                    </div>
                    <div *ngIf="emailLocal.errors.pattern">
                        Email isn't valid.
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" minlength="6" class="form-control" name="password" required [(ngModel)]="password" #passwordLocal="ngModel">
                <div class="help-block">Minimum of 6 characters</div>
                <div *ngIf="passwordLocal.invalid && (passwordLocal.dirty || passwordLocal.touched)" class="alert alert-danger">
                      <div *ngIf="passwordLocal.errors.required">
                        Password is required.
                    </div>
                    <div *ngIf="passwordLocal.errors.minlength">
                        Password must have length at least 6 characters.    
                    </div>
                    <div *ngIf="passwordLocal.errors.equals">
                        Nerovna se   
                    </div>
                </div>
        </div>
        <div class="form-group">
            <label for="passwordAgain">Confirm password</label>
            <input type="password" minlength="6" name="passwordAgain" class="form-control" id="inputPasswordConfirm" required [(ngModel)]="passwordAgain" #passwordAgainLocal="ngModel" advs-compare="password">
            <div *ngIf="passwordAgainLocal.invalid && (passwordAgainLocal.dirty || passwordAgainLocal.touched)" class="alert alert-danger">
                      <div *ngIf="passwordAgainLocal.errors.required">
                        Password is required.
                    </div>
                    <div *ngIf="passwordAgainLocal.errors.minlength">
                        Password must have length at least 6 characters.    
                    </div>
                    <div *ngIf="passwordAgainLocal.errors.compare">Passwords don't match.</div>
            </div>


        </div>
        <div class="form-group">
         <button [disabled]="!signupForm.form.valid" class="btn btn-primary" >Sign up</button>
         <a [routerLink]="['/login']" class="btn btn-link">Back</a>
     </div>
     <div *ngIf="errorMessage" class="alert alert-danger alert-dismissable">
                        <a href="#" class="close" data-dismiss="alert">&times;</a>
                        {{errorMessage}}
                    </div>
    </form>
</div>
</div>
</div>
