form[role=login] > .form-header {
		margin-top: 20px;
		text-align: center;
		font-size: 15px;
}

form[role="login"] h5 {
    margin: 20px 0 20px 0;

}

form[role="login"] {
    margin: 100px auto;
	background: #fff;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.form-header {
	text-align: center;
	margin-top: 50px;
}
