<nav class="navbar navbar-expand navbar-dark bg-primary fixed-top">
  <a class="navbar-brand" href="#">
    <img src="/assets/logo.png" width="30" height="30" alt="">
  </a>
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/my-debts']">My debts</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/others-debts']">Others debts</a>
      </li>
    </ul>
    <ul class="navbar-nav">
      <li class="dropdown">
        <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user" aria-hidden="true"></i> Profile <span class="caret"></span></a>
        <ul class="dropdown-menu dropdown-menu-right">
          <button class="dropdown-item" type="button" (click)="logout()">Log out</button>
        </ul>
      </li>
    </ul>
  </div>
</nav>
