<div class="jumbotron">
	<div class="container">
	  <h1 class="display-4">Welcome to your debt book</h1>
	  <p class="lead">You can manage your debts here</p>
	  <hr class="my-4">
	  <p>Keep records of your debts or others!</p>
	</div>
</div>