<h1 *ngIf="authService.user | async">Welcome {{ (authService.user | async)?.email }}!</h1>

<div *ngIf="!(authService.user | async)">
<div class="container-fluid h-100" id="bg">
    <div class="row justify-content-center align-items-center h-100">
        <div class="col col-sm-5 col-md-5 col-lg-5 col-xl-5">
            <form name="form" (ngSubmit)="tryLogin(loginForm.value)" #loginForm="ngForm" role="login">
               <div class="form-header">
                  <img src="assets/logo.png" alt="Logo"> 
                  <h5>Login to your private Debt book</h5>
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="text" class="form-control" name="email" required [(ngModel)]="email" #emailLocal="ngModel" advs-email/>
                    <div *ngIf="emailLocal.invalid && (emailLocal.dirty || emailLocal.touched)" class="alert alert-danger">
                        <div *ngIf="emailLocal.errors.required">
                            Email is required.
                        </div>
                        <div *ngIf="emailLocal.errors.pattern">
                            Email isn't valid.
                        </div>
                    </div>                
                </div>
                <div class="form-group">
                     <label for="password">Password</label>
                     <input type="password" class="form-control" name="password" required [(ngModel)]="password" #passwordLocal="ngModel"/>
                    <div [hidden]="passwordLocal.valid || passwordLocal.pristine" class="alert alert-danger">Password is required</div>                
                </div>
                <div class="form-group">
                     <button [disabled]="!loginForm.form.valid" class="btn btn-primary">Login</button>
                     <a [routerLink]="['/register']" class="btn btn-link">Register</a>
                </div>
                    <div *ngIf="errorMessage" class="alert alert-danger alert-dismissable">
                        <a href="#" class="close" data-dismiss="alert">&times;</a>
                        {{errorMessage}}
                    </div>
            </form>
        </div>
    </div>
</div>
</div>

