<div *ngIf="debt" >
  <!-- <h2>{{ debt.name | uppercase }} Details</h2> -->
  <h1>{{ (debt | async)?.name }} detail</h1>
  <p>Subject: {{ (debt | async)?.subject }}</p>
  <p>Person: {{ (debt | async)?.who }}</p>
  <p>Amount: {{ (debt | async)?.amount }}</p>
  <p>Creation date: {{ (debt | async)?.creationDate }}</p>
  <p>Due date: {{ (debt | async)?.dueDate }}</p>
  <p>Note: {{ (debt | async)?.note }}</p>

  <button (click)="goBack()" class="btn btn-primary ">Go back</button>
</div>

