body, html {
  margin: 0;
  overflow: hidden;
  height:100%;
}


  #left {
    position:absolute;
    float: left;
    width: 75%;
    overflow-y: scroll;
    left: 0;
    height: 100%;
  }
  
  #right {
    float: left;
    width: 25%;
    position: absolute;
    right: 0;
    height: 100%;
    overflow-y: scroll;
  }


.table th, td {
   text-align: center;   
}



