<div class="container-fluid">
	<div class="col-sm-9 table-responsive" id="left">
		<h1 class="display-4 text-center">{{title1}}</h1>
		<table class="table table-hover">
			<thead>
				<tr>
					<th scope="col">Name</th>
					<th scope="col">Subject</th>
					<th scope="col">Person</th>
					<th scope="col">Amount</th>
					<th scope="col">Creation date</th>
					<th scope="col">Due date</th>
					<th scope="col">Actions</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let debt of debts">
					<td>{{ debt.name }}</td>
					<td>{{ debt.subject }}</td>
					<td>{{ debt.who }} </td>
					<td>{{ debt.amount }}</td>
					<td>{{ debt.creationDate }}</td>
					<td>{{ debt.dueDate }}</td>
					<td>
				        <a class="btn" (click)="onEdit(debt, debtForm)" alt="Edit">
				          <i class="fa fa-pencil-square-o"></i>
				        </a>
				        <a class="btn" routerLink="/{{url}}/{{debt.id}}" style="color:black;" alt="View">
				          <i class="fa fa-eye"></i>
				        </a>
				        <a class="btn" (click)="onDelete(debt.id)" alt="Delete">
				          <i class="fa fa-trash-o"></i>
				        </a>
			      	</td>
				</tr>

			</tbody>
		</table>
	</div>   

	<div class="col-sm-4" id="right">
		<h1 class="display-4 text-center">{{title2}}</h1>
		<div class="col col-sm-12 col-md-12 col-lg-12 col-xl-12">
			<form name="form" (ngSubmit)="onSubmit(debtForm)" #debtForm="ngForm">
				<input type="hidden" name="id" #idLocal="ngModel" [(ngModel)]="id">
				<div class="form-group">
					<label for="name">Name</label>
					<input type="text" class="form-control" name="name" required [(ngModel)]="name" #nameLocal="ngModel" placeholder="Debt for cinema tickets"/>
					<div [hidden]="nameLocal.valid || nameLocal.pristine" class="alert alert-danger">Name is required</div>
				</div>
				<div class="form-group">
					<label for="subject">Subject</label>
					<input type="text" class="form-control" name="subject" required [(ngModel)]="subject" #subjectLocal="ngModel" placeholder="3 cinema tickets"   />
					<div [hidden]="subjectLocal.valid || subjectLocal.pristine" class="alert alert-danger">Subject is required</div>
				</div>
				<div class="form-group">
					<label for="who">Who</label>
					<input type="text" class="form-control" name="who" [(ngModel)]="who" #whoLocal="ngModel" placeholder="Petr"   />
				</div>
				<div class="form-group">
					<label for="amount">Amount</label>
					<input type="number" class="form-control" name="amount" required [(ngModel)]="amount" placeholder="120" min="0" #amountLocal="ngModel"  />
					<div [hidden]="amountLocal.valid || amountLocal.pristine" class="alert alert-danger">Amount is required as positive number.</div>
				</div>
				<div class="form-group">
					<label for="creationDate">Creation date</label>
					<input type="date" class="form-control" [(ngModel)]="creationDate" name="creationDate">
				</div>
				<div class="form-group">
					<label for="dueDate">Due date</label>
					<input type="date" class="form-control"  [(ngModel)]="dueDate" name="dueDate">
				</div>
				<div class="form-group">
					<label for="note">Note</label>
					<textarea class="form-control" [(ngModel)]="note" name="note"> </textarea>
				</div>
				<div class="form-group">
					<button [disabled]="!debtForm.form.valid" class="btn btn-primary">Save</button>
				</div>
				<div *ngIf="successMessage" class="alert alert-success alert-dismissable">
					<a href="#" class="close" data-dismiss="alert">&times;</a>
					{{successMessage}}
				</div>
				<div *ngIf="errorMessage" class="alert alert-success alert-dismissable">
					<a href="#" class="close" data-dismiss="alert">&times;</a>
					{{errorMessage}}
				</div>
			</form>
		</div>
	</div>
</div>


